{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'controller/css/main.css' %}">
</head>
<body>
    <div id="loginPopup">
        <div id="popupContent">
            <span id="closeButton">&times;</span>
            <br>
            <h2>Logowanie</h2>
            <br>
            <form>
                {% csrf_token %}
                <label id="label11" for="username">E-mail lub nazwa użytkownika:</label>
                <input type="text" id="username" name="username" placeholder="xyz@gmail.com" required>
                <label id="label11" for="password">Hasło:</label>
                <input type="password" id="password" name="password" placeholder="Hasło:" required>

                <hr id="separator11">

                <button type="submit" id="submitButton">Zaloguj</button>
            </form>
            <div id="linkContainer">
                <a href="#left" id="leftLink">Nie pamiętasz hasła?</a>
                <a href="#right" id="rightLink">Zarejestruj się</a>
            </div>
        </div>
    </div>
</body>
</html>