<form id="resetForm" class="form-wrapper">
      <div class="form-group">
          <label for="resetEmail"><h3>Email, na który zostanie wysłany link do resetowania hasła:</h3></label>
          <input type="email" id="resetEmail" placeholder="Twój Email przypisany do konta" required />
      </div>
      <div class="form-actions" id="resetEmailBtnCont">
          <button type="submit" id="resetEmailBtn" class="btn btn-warning">Wyślij</button>
      </div>
      <br>
      <p class="switch-text" id="spanResetclck">
          Pamiętasz hasło?
          <span class="form-switch-link" id="backToLoginFromReset">Powrót do logowania</span>
      </p>
</form>